body {
	margin:0;
	padding:0;
	background-image:url("./tlo.png");
	background-size:100vw 100bh;
	background-repeat:no-repeat;
	background-attachment:fixed;
	
}
.tytul {
	width:70vw; 
	height:300px;
	background-image:url("./tlo2.jpg");
	margin-top:5vh;
	margin-left:15vw;
	margin-right:15vw;
	border:5px solid black;
	border-radius:25px 25px 25px 25px;
}
.tresc {
	width:69vw; 
	height:100%;
	background:rgba(200,200,200,0.8);
	margin-top:2vh;
	margin-left:15vw;
	margin-right:15vw;
	margin-bottom:3vh;
	border:15px solid rgba(255,255,255,0.0);
	
}
.logo {
	width:23%; 
	height:100%;
	display:block;
	float:left;
}
.logotresc {
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	color:black;
	font-size:180px;
	float:left;
	margin-left:10%;
	height:100%;
	text-align:center;
	margin-top:35px;
}
.zdjecie {
	width:350px; 
	display:block;
	float:right;
	border: 3px double; 
	padding: 5px;
}
.naglowek {
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size:40px;
}
.naglowek2 {
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size:25px;
}
.naglowek3 {
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size:20px;
}
.tekst {
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:18px;
}
.tekst2 {
	font-family: 'Work Sans', sans-serif;
	font-weight:400;
	font-style:italic;
	font-size:20px;
	margin-top:25px;
	font-color:black;
}
.tekst3 {
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:12px;
	float:right;
}
.tekst4 {
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:18px;
	margin-top:35px;
}
a {
	text-decoration:none;
	color: blue;
}
a:hover {
	color: aqua;
}